body {
    background-image: url("images/background_image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

div.container {
margin: auto;
width: 70%;
}

nav {
    width: 90%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    background: black;
}

nav::after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav li {
    background-color: #000;
    width: 12%;
    float: left;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-decoration: none;
    color: #e2e2e2;
    padding: .4em .5em 1em .5em;
    display: inline-block;
}

nav a:hover {
    background-color: #383838;
}

nav li.login {
    margin-left: 15%;
}

nav li.try {
    background-color: #383838;
}

nav li.webflow {
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

h1.headline {
    color: #ffffff;
    font-size: 4em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.main-content {
    color: #ffffff;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 0.2em;  
}

img.cart-logo {
    float: left;
    clear: both;
}

p.cart-logo {
    color: #88e2a3;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0.5em;
    padding-left: 2.2em;
}

div.email-form {
  margin: 1.4em 0 0 10em;
  position: absolute;
}

p.email-form {
    color: #ffffff;
}

input[type=email] {
    width: 97%;
    padding: 1.8em 5em;
    margin: 0.5 0 0.5em 2em;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
  }

  input[class="submit"] {
    margin-left: -50px;
    height: 4.9em;
    width: 4.2em;
    background: #268b3cb6;
    color: white;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
    
    div.video-button {
        float: left;
    }


    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 0.9375em 2em;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        cursor: pointer;
      }

      button.play-button {
        background-color: white;
        color: black;
        border: 0.125em solid #e7e7e7;
        margin: 4.6em 0 0 30em;
      }


      
