/*This is the code for some basic style for the "Share" link*/
a.share {
    padding-right: 1em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
}


/*This is the code for the Facebook icon on the page*/
a.FB-icon {
    padding-right: 1.2em;
}


/*This is the code used for the style of the webpage body*/
body {
    background-image: url("images/background_image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*This is the code to style the "Play Video" button*/
button.play-button {
    padding: 0.9375em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 0.125em solid #e7e7e7;
    margin: 4.6em 0 0 30em;
}


/*This is the code for the "header" section of the page where most of the main content is*/
header {
margin: auto;
width: 70%;
}


/*This is the code to position the div for the e-mail input form*/
div.email-form {
  margin: 1.4em 0 0 10em;
  position: absolute;
}


/*This is the code used for the font next to the logo*/
div.cart-logo {
    color: #88e2a3;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1em;
    padding-left: 2.2em;
}


/*This is the code for the social media div that has the 2 icons and one share link*/
div.social-media {
    margin-left: 50em;
    display: inline;
}


/*This is the code used to style the main headline of the page*/
h1.headline {
    color: #ffffff;
    font-size: 4em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*This is the code to position the cart logo img*/
img.cart-logo {
    float: left;
    clear: both;
    padding-top: 1em;
}


/*This is the code used to style the div for e-mail input form*/
input[type=email] {
    width: 97%;
    padding: 1.8em 5em;
    margin: 0.5 0 0.5em 2em;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
  }

  
  /*This is the code used to style the submit button for the e-mail input form*/
  input[class="submit"] {
    margin-left: -50px;
    height: 4.9em;
    width: 4.2em;
    background: #268b3cb6;
    color: white;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

  
/*This is the code for the main styleing of the nav*/
nav {
    width: 90%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    background: black;
    user-select: none;
}


/*This is a psudo-element for the Nav Bar, this will clear floats & make the nav bar display correctly*/
nav::after {
    content: "";
    display: table;
    clear: both;
}


/*This is the code for the styling of the unorderlist for the Nav Bar*/
nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


/*This is the code used to style the Nav Bar List*/
nav li {
    background-color: #000;
    width: 12%;
    float: left;
}


/*This is the code for the style of the anchor links that are in the Nav Buttons*/
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-decoration: none;
    color: #e2e2e2;
    padding: .4em .5em 1em .5em;
    display: inline-block;
}


/*This is the code that will change the background color of the anchor when the user hover over the button/link*/
nav a:hover {
    background-color: #383838;
}


/*This is the code used to push the log in button/link to the far right to follow the wireframes design*/
nav li.login {
    margin-left: 15%;
}


/*This is the standard background color being used for the "Try for free" button to follow the wireframe design*/
nav li.try {
    background-color: #383838;
}


/*This is the code styleing for the "Webflow" button to match the styleing used in the wireframe*/
nav li.webflow {
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}


/*This is the font styleing that I went with to best match the styleing in the wireframe*/
p.main-content {
    color: #ffffff;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 0.2em;  
}


/*This is the styleing for the "Get Started For Free" text right above the e-mail field (on the left if in mobile view)*/
p.get-started {
    color: #ffffff;
}


/*-------------------MEDIA QUARRYS FOR MOBILE RESPONSIVE DESIGN LAYOUT---------------------------- */


/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    body {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a large tablet device such as an iPad*/
@media (max-width: 950px) {
    button.play-button {
        margin: 4.5em 0 2em 29em;
        width: 20%;
    }
}


/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    button.play-button {
        margin: 6.5em 0 2em 6.2em;
        width: 70%;
    }
}


/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    button.play-button {
        margin: 6.5em 0 2em 6.2em;
        width: 70%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    div.email-form {
        margin: auto;
        width: 70%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    div.cart-logo {
        margin: auto;
        width: 60%;
    }
}

@media (max-width: 950px) {
    div.social-media {
        margin: 0 20em 0 20em;
        display: inline;
    }
}

@media (max-width: 500px) {
    div.social-media {
        margin: auto;
        display: inline;
    }
}

  /*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
  @media (max-width: 500px) {
    input[type=email] {
       margin-left: 9em;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    input[class="submit"] {
        margin-left: 9em;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav::after {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav a {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav li {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav ul {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav a:hover {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav li.login {
        margin: auto;
        width: 60%;
    }
}


/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav li.try {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    nav li.webflow {
        margin: auto;
        width: 60%;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    p.main-content {
        margin-bottom: 3em;
    }
}

/*This is the code of styleing that will be used on a mobile device such as an iPhone X Screen Size & Below*/
@media (max-width: 500px) {
    p.get-started {
       margin: 0 10em 4em 0;
       position: absolute;
       font-size: 2em;
    }
}
